* {
    box-sizing: border-box;
}

.login_window {
    box-sizing: border-box;
    width: 450px;
    padding: 35px 35px 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 510px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 80px;
    /*min-width: 450px;*/
}

.registration_form {
    display: flex;
    flex-flow: column;
    width: 90%;
}

.registration_input {
    margin-top: 30px;
    border: none;
    border-bottom: 1px solid #c9c9c9;
    height: 40px;
    padding: 20px;
    font-size: 15px;
    width: 100%;
}

.password_eye_hidden, .password_eye_shown {
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 16px;
    /*transform: translate(320px, -55px);*/
    position: absolute;
    right: 10px;
    bottom: 27px;
}

.registration_form_button {
    background: #333;
    color: #fff;
    padding: 10px 50px;
    border-radius: 30px;
    border: 1px solid #333;
    font-size: 16px;
    width: 250px;
    margin: 20px auto auto;
}

.login_link {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    margin-top: 25px;
}

.login_links {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.login_form_error {
    color: red;
    font-size: 13px;
    height: 2px;
    transform: translateY(-10px);
}

.login_form_label {
    font-size: 15px;
    color: #60697B;
    position: static;
    transition: all 0.5s;
    user-select: none;
    pointer-events: none;
}

.modal_window_title {
    font-size: 20px;
    margin-bottom: 11px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    color: #000000;
    text-align: center;
}